{% extends "base.html" %}
{% block title %} Contact Information {% endblock %}
{% block pagename %}contact{% endblock %}
{% block content %}
<div id="content-left">
    <h2 class="section-title">The Couple</h2>
    <p><strong>Alex</strong><br />
    Email: <a href="mailto:likwoka@gmail.com">likwoka@gmail.com</a><br />
    Cellphone: 416-388-5112</p>
    <p><strong>Daphne</strong><br />
    Email: <a href="mailto:daphne.chan@utoronto.ca">daphne.chan@utoronto.ca</a><br />
    Cellphone: 416-618-9161</p>
</div>
<div id="content-right">
    <h2 class="section-title">The Parents</h2>
    <p><strong>Dora Li</strong><br />
    Phone: 416-223-8321</p>
    <p><strong>Wai Man and Loretta Fung</strong><br />
    Phone: 416-298-8468</p>
</div>
{% endblock %}

